{% extends "layout.njk" %}

{%block head%}
    <title>Aulas - Estevan Aquino</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{%endblock%}

{%block conteudo%}
        <div id="wrapper">
            <h1>Videos</h1>
        </div>

        <section class="cards">

            {%for item in items%}
            <div class="card {{'onlivecard' if item.onlive}}" id="{{item.id}}">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">
                    {% if item.onlive%}
                        <div class="onlive">Ao Vivo</div>
                    {%endif%}
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>Channel:</p>
                    <p class="channelinf">{{item.channel}}</p>
                </div>
            </div>
            {%endfor%}

        </section>



        {# <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                
                <div class="modal-content">
                    <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
                </div>
            </div>
        </div> #}
{%endblock%}