{% extends "layout.njk" %}

{%block head%}
    <title>Sobre - Estevan Aquino</title>
{%endblock%}

{%block conteudo%}
            <div id="wrapper">
                <img src="{{sobre.avatar_url}}" alt="Imagem de {{sobre.nome}}">
                    <div>
                        <h1>{{sobre.nome}}</h1>
                        <h2>{{sobre.role}}</h2>
                        <p>{{sobre.description}}</p>
                    </div>
            </div>
{%endblock%}