{% extends "layout.njk" %}

{%block head%}
    <title>{{item.title}} - Estevan Aquino</title>
{%endblock%}

{%block conteudo%}
        <div id="player">
            <h1>{{item.title}}</h1>
        </div>

        <section class="video">
            <div class="die {{'onlivedie' if item.onlive}}" id="{{item.id}}">
                <div class="card_video-container">
                    <iframe src="https://www.youtube.com/embed/{{item.id}}/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>Channel:</p>
                    <p class="channelinf">{{item.channel}}</p>
                </div>
                </div>
            </div>
        </section>
{%endblock%}